@model IEnumerable<Sighting>
@{
    ViewData["Title"] = "Index";
}

<h1>Archive(placeholder)</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Observer
            </th>
            <th>
                Observer location
            </th>
            <th>
                Phenomenon location name
            </th>
            <th>
                Phenomenon coordinates
            </th>
            <th>
                Date and time
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var sighting in Model)
        {
            <tr>
                <td width="50%">
                    @sighting.ObserverName
                </td>
                <td width="50%">
                    @sighting.ObserverLocation
                </td>
                <td width="50%">
                    @sighting.PhenomenonLocationName
                </td>
                <td width="50%">
                    @sighting.PhenomenonLocationCoordinates
                </td>
                <td width="50%">
                    @sighting.DateAndTime
                </td>
                <td width="50%">
                    @sighting.Description
                </td>

            </tr>
        }
    </tbody>

</table>