@using WebApp.Resources;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="container-xfluid">
    
    

    <div class="row justify-content-center">

        <img src="Media/Logo-Home.png" style=" width: 50%; height : 50%"/>

        <div class="col-auto">

            <br><br>

            <p>
                @St.r("intro.p1");
            </p>
            <p>
                @St.r("intro.p2");
            </p>

            <p>
                @St.r("intro.p3");
            </p>
        </div>

        </div>

    <div class="row justify-content-center">

        <div class="col-8 align-content-center">
            <br>
            <p><b>@St.r("intro.question1");</b> </p> 
            <p>
                @St.r("intro.answer1");
            </p>
            <br />
                <p>
                    <b>@St.r("intro.question2")</b>
            </p> 
            
            @St.r("intro.answer2.header")
            <ul>
                <li>@St.r("intro.answer2.li1")</li>
                <li>@St.r("intro.answer2.li2")</li>
                <li>@St.r("intro.answer2.li3")</li>
                <li>@St.r("intro.answer2.li4")</li>
            </ul>
        </div>
        
    </div>

    <br /><br />

    <div class="row justify-content-center">
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/RR2TRGq2Zec" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="col-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6o0CHUlI43o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>


</div>
